In [1]:
# Importing Dependencies
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np

In [2]:
# Reading CSV and making DataFrame
f = pd.read_csv("../data/new_model.csv")
model_df = pd.DataFrame(f)

In [3]:
# Grabbing the Columns Needed
duration_df = model_df[["FL_DATE", "WEATHER_DELAY", "DurationinMinutes"]]
duration_df.head()

     FL_DATE  WEATHER_DELAY  DurationinMinutes
0  1/22/2018            0.0                 32
1  1/22/2018            0.0                 32
2  1/22/2018            0.0                 32
3  1/22/2018            0.0                 32
4  1/22/2018            0.0                 32

In [4]:
# Dropping NaN
duration_df.dropna(inplace=True)

In [5]:
# Renaming Column
duration_df.rename(columns={"DurationinMinutes": "LENGTH_OF_THUNDERSTORM"},inplace=True)

In [6]:
## Creating Binary Data
# duration_df["NEW_WEATHER"] = duration_df["WEATHER_DELAY"].apply(lambda x: 1 if x > 0 else 0)
# duration_df["NEW_THUNDERSTORM"] = duration_df["LENGTH_OF_THUNDERSTORM"].apply(lambda x: 0 if x == 0 else 1)

In [7]:
# Changing Int to Float
duration_df["LENGTH_OF_THUNDERSTORM"] = duration_df["LENGTH_OF_THUNDERSTORM"].astype(float)

In [8]:
# Creating Bins and Labels
bins = [0.0,60.0,120.0,180.0,240.0,300.0,360.0,420.0,480.0,540.0,600.0,660.0,720.0,780.0,840.0,900.0,960.0,1020.0,1080.0,1140.0,1200.0,1260.0,1320.0] 
labels = ["0-60", "61-120", "121-180", "181-240", "241-300", "301-360", "361-420", "421-480", "481-540", "541-600", "601-660",
         "661-720", "721-780", "781-840", "841-900", "901-960", "961-1020", "1021-1080", "1081-1140", "1141-1200", "1201-1260", "1261-1320"]

duration_df["THUNDERSTORM_BINS"] = pd.cut(duration_df["LENGTH_OF_THUNDERSTORM"], bins, labels=labels, include_lowest=True)
duration_df

         FL_DATE  WEATHER_DELAY  LENGTH_OF_THUNDERSTORM THUNDERSTORM_BINS
0      1/22/2018            0.0                    32.0              0-60
1      1/22/2018            0.0                    32.0              0-60
2      1/22/2018            0.0                    32.0              0-60
3      1/22/2018            0.0                    32.0              0-60
4      1/22/2018            0.0                    32.0              0-60
...          ...            ...                     ...               ...
15746  12/1/2018         1938.0                     0.0              0-60
15753  12/1/2018         1707.0                     0.0              0-60
15785  12/1/2018         2230.0                     0.0              0-60
15788  12/1/2018         1309.0                     0.0              0-60
15814  12/1/2018          851.0                     0.0              0-60

[615 rows x 4 columns]

In [9]:
# Group by Bins
group_df = duration_df.groupby("THUNDERSTORM_BINS").mean()
group_df

                   WEATHER_DELAY  LENGTH_OF_THUNDERSTORM
THUNDERSTORM_BINS
0-60                  607.774194               23.568915
61-120               1476.625000               90.305556
121-180              1471.250000              158.500000
181-240              1343.100000              195.600000
241-300              1353.538462              252.000000
301-360              1236.375000              331.000000
361-420                      NaN                     NaN
421-480              1457.666667              458.000000
481-540              1464.000000              531.000000
541-600                      NaN                     NaN
601-660              1512.650000              649.400000
661-720              1633.363636              707.181818
721-780                      NaN                     NaN
781-840              1808.076923              819.000000
841-900              1678.833333              893.000000
901-960              1274.576923              943.307692
961-1020                     NaN                     NaN
1021-1080                    NaN                     NaN
1081-1140                    NaN                     NaN
1141-1200                    NaN                     NaN
1201-1260                    NaN                     NaN
1261-1320            1745.333333             1302.000000

In [10]:
# Dropping NaN
group_df.fillna(0)

                   WEATHER_DELAY  LENGTH_OF_THUNDERSTORM
THUNDERSTORM_BINS
0-60                  607.774194               23.568915
61-120               1476.625000               90.305556
121-180              1471.250000              158.500000
181-240              1343.100000              195.600000
241-300              1353.538462              252.000000
301-360              1236.375000              331.000000
361-420                 0.000000                0.000000
421-480              1457.666667              458.000000
481-540              1464.000000              531.000000
541-600                 0.000000                0.000000
601-660              1512.650000              649.400000
661-720              1633.363636              707.181818
721-780                 0.000000                0.000000
781-840              1808.076923              819.000000
841-900              1678.833333              893.000000
901-960              1274.576923              943.307692
961-1020                0.000000                0.000000
1021-1080               0.000000                0.000000
1081-1140               0.000000                0.000000
1141-1200               0.000000                0.000000
1201-1260               0.000000                0.000000
1261-1320            1745.333333             1302.000000

In [11]:
# Making CSV and JSON Files
# group_df.to_csv("../data/delays.csv")
# group_df.to_json("../data/delays.json")

In [12]:
# X = clean_model.drop("NEW_WEATHER", axis=1)
# y = clean_model["NEW_THUNDERSTORM"]
# print(X.shape, y.shape)

In [13]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)