In [140]:
# Import Dependencies
import pandas as pd
import datetime

In [141]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "../data/ORD.csv"
f = pd.read_csv(csv_path)
meater_df = pd.DataFrame(f)
metar_df.tail()

C:\Users\Kayla\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

       station             valid      lon      lat      wxcodes
105212     ORD  2018-12-02 03:13 -87.9319  41.9875     -TSRA BR
105217     ORD  2018-12-02 03:33 -87.9319  41.9875     +TSRA BR
105222     ORD  2018-12-02 03:51 -87.9319  41.9875     +TSRA BR
105225     ORD  2018-12-02 04:03 -87.9319  41.9875     -TSRA BR
105229     ORD  2018-12-02 04:16 -87.9319  41.9875  VCTS -RA BR

In [142]:
metar_df = metar_df[["station", "valid", "lon", "lat", "wxcodes"]].dropna()

In [143]:
metar_df = metar_df.loc[(metar_df["wxcodes"] == 'VCTS') | (metar_df["wxcodes"] == 'TS') | 
             (metar_df["wxcodes"] == '+TSRA') | (metar_df["wxcodes"] == '-TSRA BR') | 
             (metar_df["wxcodes"] == 'VCTS BR') | (metar_df["wxcodes"] == 'TS BR') | 
             (metar_df["wxcodes"] == 'VCTS -RA BR')| (metar_df["wxcodes"] == 'VCTS -RA') | 
             (metar_df["wxcodes"] == 'VCTS RA') | (metar_df["wxcodes"] == 'VCTS +RA BR') |
             (metar_df["wxcodes"] == '+TSRA FG') | (metar_df["wxcodes"] == 'VCTS RA BR') |
             (metar_df["wxcodes"] == 'TS HZ') | (metar_df["wxcodes"] == 'VCTS +RA FG') |
             (metar_df["wxcodes"] == 'TSRA BR') | (metar_df["wxcodes"] == '+TSRA BR') |
             (metar_df["wxcodes"] == '-TSRA') | (metar_df["wxcodes"] == 'TSRA')]

In [144]:
split_data = metar_df["valid"].str.split(" ")
data = split_data.to_list()
names = ["Date", "Time"]
new_df = pd.DataFrame(data, columns=names)
new_df['valid'] = metar_df['valid'].tolist()

merge_df = metar_df.merge(new_df, how='inner', on='valid')
merge_df

,station,valid,lon,lat,wxcodes,Date,Time
0,ORD,2018-01-22 11:45,-87.9319,41.9875,TSRA BR,2018-01-22,11:45
1,ORD,2018-01-22 11:51,-87.9319,41.9875,TSRA BR,2018-01-22,11:51
2,ORD,2018-01-22 12:17,-87.9319,41.9875,+TSRA BR,2018-01-22,12:17
3,ORD,2018-02-20 19:06,-87.9319,41.9875,-TSRA,2018-02-20,19:06
4,ORD,2018-02-20 19:11,-87.9319,41.9875,TSRA,2018-02-20,19:11
...,...,...,...,...,...,...,...
355,ORD,2018-12-02 03:13,-87.9319,41.9875,-TSRA BR,2018-12-02,03:13
356,ORD,2018-12-02 03:33,-87.9319,41.9875,+TSRA BR,2018-12-02,03:33
357,ORD,2018-12-02 03:51,-87.9319,41.9875,+TSRA BR,2018-12-02,03:51
358,ORD,2018-12-02 04:03,-87.9319,41.9875,-TSRA BR,2018-12-02,04:03
359,ORD,2018-12-02 04:16,-87.9319,41.9875,VCTS -RA BR,2018-12-02,04:16

In [145]:
# merge_df['Time'] = pd.to_timedelta(merge_df['Time']+':00')
# merge_df
merge_df['valid'] = pd.to_datetime(merge_df['valid'])

In [146]:
merge_df['Time'] = pd.to_timedelta(merge_df['Time']+':00')
merge_df['Date'] = merge_df['valid'].dt.date

In [147]:
merge_df['Time']

0     11:45:00
1     11:51:00
2     12:17:00
3     19:06:00
4     19:11:00
        ...
355   03:13:00
356   03:33:00
357   03:51:00
358   04:03:00
359   04:16:00
Name: Time, Length: 360, dtype: timedelta64[ns]

In [148]:
event_date = []
durationList = []
startTime = pd.to_timedelta('00:00:00')
endTime = pd.to_timedelta('00:00:00')
for i in range(len(merge_df['Time'])-1):
    if i == 0:
        startTime = merge_df['Time'][i]
    if merge_df['Date'][i + 1] != merge_df['Date'][i]:
        endTime = merge_df['Time'][i]
        timeChange = endTime - startTime
        durationList.append(timeChange)
        event_date.append(merge_df['Date'][i])
        startTime = merge_df['Time'][i+1]

In [149]:
duration_df = pd.DataFrame({'FL_DATE': event_date, 'Duration of Event': durationList})

In [150]:
duration_df['Duration of Event'].unique()

array([ 1920000000000,  1080000000000,  6780000000000, 78120000000000,
       43140000000000,  3840000000000, 31860000000000, 53580000000000,
        7200000000000,              0, 15120000000000, 11820000000000,
        3960000000000,  1620000000000, 19860000000000,  4620000000000,
        8220000000000, 41580000000000,  4320000000000,   840000000000,
       56760000000000,  9540000000000,  5400000000000,   480000000000,
        3420000000000,  2460000000000,  5340000000000,  2700000000000,
        9420000000000, 39180000000000, 11700000000000, 49140000000000,
       27480000000000, 56340000000000,   900000000000,  1320000000000,
        6240000000000, 38100000000000,  1440000000000,   540000000000],
      dtype='timedelta64[ns]')

In [29]:
total_seconds_list = []
for i in range(len(duration_df['Duration of Event'])):
    total_seconds_list.append(duration_df['Duration of Event'][i].total_seconds())

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [ ]:
duration_df.to_csv("../data/duration.csv")