In [1]:
# Import Dependencies
import pandas as pd
import datetime

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "../data/ORD.csv"
f = pd.read_csv(csv_path)
metar_df = pd.DataFrame(f)
metar_df.tail()

C:\Users\Kayla\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,station,valid,lon,lat,tmpf,dwpf,relh,drct,sknt,p01i,...,skyl4,wxcodes,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,peak_wind_time,feel,metar
114045,ORD,2018-12-30 23:40,-87.9319,41.9875,NaN,NaN,NaN,180.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KORD 302340Z AUTO 18009KT 10SM CLR 01/M03 A299...
114046,ORD,2018-12-30 23:45,-87.9319,41.9875,NaN,NaN,NaN,190.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KORD 302345Z AUTO 19008KT 10SM CLR 01/M03 A299...
114047,ORD,2018-12-30 23:50,-87.9319,41.9875,NaN,NaN,NaN,180.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KORD 302350Z AUTO 18008KT 10SM 01/M03 A2997 RM...
114048,ORD,2018-12-30 23:51,-87.9319,41.9875,33.1,26.1,75.18,190.0,8.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.47,KORD 302351Z 19008KT 10SM SCT250 01/M03 A2998 ...
114049,ORD,2018-12-30 23:55,-87.9319,41.9875,NaN,NaN,NaN,190.0,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KORD 302355Z AUTO 19010KT 10SM CLR 01/M03 A299...

In [3]:
# Dropping NaNs
metar_df = metar_df[["station", "valid", "lon", "lat", "wxcodes"]].dropna()

In [4]:
# Grabbing All the Data that Mentions T-storms
metar_df = metar_df.loc[(metar_df["wxcodes"] == 'VCTS') | (metar_df["wxcodes"] == 'TS') | 
             (metar_df["wxcodes"] == '+TSRA') | (metar_df["wxcodes"] == '-TSRA BR') | 
             (metar_df["wxcodes"] == 'VCTS BR') | (metar_df["wxcodes"] == 'TS BR') | 
             (metar_df["wxcodes"] == 'VCTS -RA BR')| (metar_df["wxcodes"] == 'VCTS -RA') | 
             (metar_df["wxcodes"] == 'VCTS RA') | (metar_df["wxcodes"] == 'VCTS +RA BR') |
             (metar_df["wxcodes"] == '+TSRA FG') | (metar_df["wxcodes"] == 'VCTS RA BR') |
             (metar_df["wxcodes"] == 'TS HZ') | (metar_df["wxcodes"] == 'VCTS +RA FG') |
             (metar_df["wxcodes"] == 'TSRA BR') | (metar_df["wxcodes"] == '+TSRA BR') |
             (metar_df["wxcodes"] == '-TSRA') | (metar_df["wxcodes"] == 'TSRA')]

In [5]:
# Splitting Valid into Date Time
split_data = metar_df["valid"].str.split(" ")
data = split_data.to_list()
names = ["Date", "Time"]
new_df = pd.DataFrame(data, columns=names)
new_df['valid'] = metar_df['valid'].tolist()

# Merging the Date Time Columns to metar_df
merge_df = metar_df.merge(new_df, how='inner', on='valid')
merge_df

,station,valid,lon,lat,wxcodes,Date,Time
0,ORD,2018-01-22 11:45,-87.9319,41.9875,TSRA BR,2018-01-22,11:45
1,ORD,2018-01-22 11:51,-87.9319,41.9875,TSRA BR,2018-01-22,11:51
2,ORD,2018-01-22 12:17,-87.9319,41.9875,+TSRA BR,2018-01-22,12:17
3,ORD,2018-02-20 19:06,-87.9319,41.9875,-TSRA,2018-02-20,19:06
4,ORD,2018-02-20 19:11,-87.9319,41.9875,TSRA,2018-02-20,19:11
...,...,...,...,...,...,...,...
355,ORD,2018-12-02 03:13,-87.9319,41.9875,-TSRA BR,2018-12-02,03:13
356,ORD,2018-12-02 03:33,-87.9319,41.9875,+TSRA BR,2018-12-02,03:33
357,ORD,2018-12-02 03:51,-87.9319,41.9875,+TSRA BR,2018-12-02,03:51
358,ORD,2018-12-02 04:03,-87.9319,41.9875,-TSRA BR,2018-12-02,04:03
359,ORD,2018-12-02 04:16,-87.9319,41.9875,VCTS -RA BR,2018-12-02,04:16

In [6]:
# Converting Pandas Object to DateTime
merge_df['valid'] = pd.to_datetime(merge_df['valid'])

In [7]:
# Converting Pandas Object to Date and Time
merge_df['Time'] = pd.to_timedelta(merge_df['Time']+':00')
merge_df['Date'] = merge_df['valid'].dt.date

In [9]:
# Solving for Change in Time
event_date = []
durationList = []
startTime = pd.to_timedelta('00:00:00')
endTime = pd.to_timedelta('00:00:00')
for i in range(len(merge_df['Time'])-1):
    if i == 0:
        startTime = merge_df['Time'][i]
    if merge_df['Date'][i + 1] != merge_df['Date'][i]:
        endTime = merge_df['Time'][i]
        timeChange = endTime - startTime
        durationList.append(timeChange)
        event_date.append(merge_df['Date'][i])
        startTime = merge_df['Time'][i+1]

In [10]:
# Creating New DataFrame
duration_df = pd.DataFrame({'FL_DATE': event_date, 'Duration of Event': durationList})

In [12]:
# Converting DateTime to Seconds
total_seconds_list = []
for i in range(len(duration_df['Duration of Event'])):
    total_seconds_list.append(duration_df['Duration of Event'][i].total_seconds())

In [13]:
# COnverting Seconds to Minutes
total_minutes_list = [i*(1/60) for i in total_seconds_list]

In [14]:
# Appending New Column to DataFrame
duration_df = pd.DataFrame({'FL_DATE': event_date, 'Duration of Event': durationList, 'Duration in Minutes': total_minutes_list})

In [15]:
duration_df.head()

       FL_DATE Duration of Event  Duration in Minutes
0   2018-01-22          00:32:00                 32.0
1   2018-02-20          00:18:00                 18.0
2   2018-05-02          01:53:00                113.0
3   2018-05-03          21:42:00               1302.0
4   2018-05-09          11:59:00                719.0
5   2018-05-12          01:04:00                 64.0
6   2018-05-13          08:51:00                531.0
7   2018-05-14          14:53:00                893.0
8   2018-05-15          02:00:00                120.0
9   2018-05-20          00:00:00                  0.0
10  2018-05-21          04:12:00                252.0
11  2018-05-30          03:17:00                197.0
12  2018-06-03          01:06:00                 66.0
13  2018-06-08          00:27:00                 27.0
14  2018-06-09          05:31:00                331.0
15  2018-06-10          01:17:00                 77.0
16  2018-06-16          02:17:00                137.0
17  2018-06-19          00:00:00                  0.0
18  2018-06-26          11:33:00                693.0
19  2018-06-27          01:12:00                 72.0
20  2018-07-01          00:14:00                 14.0
21  2018-07-05          15:46:00                946.0
22  2018-07-16          00:00:00                  0.0
23  2018-08-01          02:39:00                159.0
24  2018-08-02          00:00:00                  0.0
25  2018-08-06          01:30:00                 90.0
26  2018-08-07          00:08:00                  8.0
27  2018-08-10          00:57:00                 57.0
28  2018-08-15          00:41:00                 41.0
29  2018-08-16          01:29:00                 89.0
30  2018-08-17          00:45:00                 45.0
31  2018-08-21          01:30:00                 90.0
32  2018-08-25          02:37:00                157.0
33  2018-08-28          10:53:00                653.0
34  2018-08-29          03:15:00                195.0
35  2018-09-01          13:39:00                819.0
36  2018-09-02          07:38:00                458.0
37  2018-09-03          15:39:00                939.0
38  2018-09-05          00:15:00                 15.0
39  2018-09-19          00:00:00                  0.0
40  2018-09-25          00:22:00                 22.0
41  2018-10-02          01:44:00                104.0
42  2018-10-06          10:35:00                635.0
43  2018-10-08          00:24:00                 24.0
44  2018-10-30          00:09:00                  9.0
45  2018-10-31          00:00:00                  0.0
46  2018-12-01          00:00:00                  0.0

In [16]:
# duration_df.to_csv("../data/duration.csv")